name: Test Bitcoin scripts
on: [push, pull_request]
jobs:
  build:
    name: bitcoind ${{ matrix.bitcoind-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        bitcoind-version: ["0.17.2", "24.0"]
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.8.2
      - name: Run unit tests
        run: ./tests/test_all.sh
      - name: Cache bitcoind
        uses: actions/cache@v3
        env:
          cache-name: bitcoind
          BITCOIND_VERSION: ${{ matrix.bitcoind-version }}
        with:
          path: ~/bitcoin/*/bin/bitcoin*
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ env.BITCOIND_VERSION }}-${{ hashFiles('tests/functional/install_deps.sh') }}
      - name: Install bitcoind
        env:
          BITCOIND_VERSION: ${{ matrix.bitcoind-version }}
        run: ./tests/functional/install_deps.sh
      - name: Run functional tests
        run: ./tests/functional/test_all.sh
